<div ng-controller = "PigAiCtrl">
  <div class="row" id="main">
    <div class="col-xs-4">
      <h2 id="player1">Player 1</h2>
      <h3>Score: {{p1score}}</h3>
      <h3>Wins: <span id="player1wins"></span></h3>

      <div id="player1buttons" ng-show="p(1)">
        <button ng-click="rollDice()" class="btn btn-large btn-danger">roll dice (z)</button>
        <button ng-click="hold()" class="btn btn-large btn-success">hold (space)</button>
      </div>
    </div>
    <div class="col-xs-4">
      <h2>Roll: {{roll}}</h2>
      <span id="displaydice"></span>
      <h3>Current score: {{currentScore}}</h3>
    </div>
    <div class="col-xs-4">
      <h2 id="player3">Computer</h2>
      <h3>Score: {{computerScore}}</h3>
      <h3>Wins: <span id="computerwins"></span></h3>

    </div>
  </div>
  <div class = "instructions">
    <h4>Player one roll: "z"</h4>
    <h4>Hold:            Space</h4>
  </div>
</div>
