<div class="row" id="main">
  <div class="col-xs-4">
    <h2 id="player1">Player 1</h2>
    <h3>Score: <span id="player1score"></span></h3>
    <h3>Wins: <span id="player1wins"></span></h3>
    <div id="player1buttons">
      <button id="roll" class="btn btn-large btn-danger">roll dice (z)</button>
      <button id="hold" class="btn btn-large btn-success">hold (space)</button>
    </div>
  </div>
  <div class="col-xs-4">
    <h2>Roll: <span id = "dice"></span></h2>
    <span id="displaydice"></span>
    <h3>Current score: <span id="current"></span></h3>
  </div>
  <div class="col-xs-4">
    <h2 id="player2">Player 2</h2>
    <h3>Score: <span id="player2score"></span></h3>
    <h3>Wins: <span id="player2wins"></span></h3>
    <div id="player2buttons">
      <button id="roll" class="btn btn-large btn-danger">roll dice(/)</button>
      <button id="hold" class="btn btn-large btn-success">hold (space)</button>
    </div>
  </div>
</div>
<div class = "instructions">
  <h4>Player one roll: "z"</h4>
  <h4>Player two roll: "/"</h4>
  <h4>Hold:            Space</h4>
</div>
